@font-face {
  font-family: 'PTSans';
  src:  url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
  url('../fonts/PTSans/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src:  url('../fonts/PTSans/PTSans-Italic.woff2') format('woff2'),
  url('../fonts/PTSans/PTSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src:  url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
  url('../fonts/PTSans/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src:  url('../fonts/PTSans/PTSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/PTSans/PTSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PTSans-Narrow';
  src:  url('../fonts/PTSans/PTSans-Narrow.woff2') format('woff2'),
  url('../fonts/PTSans/PTSans-Narrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Narrow';
  src:  url('../fonts/PTSans/PTSans-NarrowBold.woff2') format('woff2'),
  url('../fonts/PTSans/PTSans-NarrowBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src:  url('../fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
  url('../fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RobotoSlab';
  src:  url('../fonts/RobotoSlab/RobotoSlab-Bold.woff2') format('woff2'),
  url('../fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src:  url('../fonts/RobotoSlab/RobotoSlab-Light.woff2') format('woff2'),
  url('../fonts/RobotoSlab/RobotoSlab-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src:  url('../fonts/RobotoSlab/RobotoSlab-Thin.woff2') format('woff2'),
  url('../fonts/RobotoSlab/RobotoSlab-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}