@media screen and (max-width: 1199px){
  .container{
    width:1000px;
  }
  .header_section_img{
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    img{
      width:100%;
    }
  }
  .category_section_wrap{
    .small_section{
      max-width: 200px;
    }
    .category_product{
      padding: 22px 15px 10px 100px;
    }
  }
  .popular_brands_wrap{
    .brand_item{
      width: 185px;
      height: 85px;
    }
  }
  .product_photo_slider{
    width:340px;
  }
  .navigation_page{
    a{
      font-size: 15px;
    }
  }
  .services_market{
    width:140px;
  }
  .offer_market_item{
    .price_wrap{
      width: 170px;
      margin-left:20px;
    }
    p{
      margin: 0 20px;
    }
  }
  .reviews_item {
    header{
      .term_us{
        display: none;
      }
    }
  }
  .filter_top_item{
    margin-bottom:10px;
  }
  .main_nav{
    .nav_item{
      padding: 5px 9px;
      font-size: 14px;
    }
  }
  .search_hint_block{
    width:80%;
    margin:0 auto 13px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1000px){
  .popular_product_category{
    max-width: 290px;
  }
  .popular_category_item{
    margin-bottom: 10px;
    &.big_item{
      width:48%;
      padding:5px 0 10px;
      p.title{
        margin-bottom:10px;
        font-size:16px;
      }
    }
    &.small_item{
      width:100%;
      padding: 0;
    }
    &.big_price{
      background-size:27%;
    }
    &.battery{
      background-position:  20% center;
      background-size:30px;
    }
    &.speed{
      background-position:  20% center;
      background-size:30px;
    }
    &.camera{
      background-position:  20% center;
      background-size:25px;
    }
    &.brand_item{
      width: 140px;
      height: 48px;
      position: relative;
      margin-bottom: -5px;
      img{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:75%;
      }
    }
  }
  .all_product{
    .product_item{
      &:last-child{
        display: none;
      }
    }
  }
}
@media screen and (min-width: 999px) {
  .header_wrap {
    &.search_opened {
      .main_nav {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 999px){
  .container{
    width:740px;
  }
  .header_section_info {
    h1{
      max-width: 580px;
      font-size:30px;
      margin-bottom:30px;
    }
    p.info{
      max-width: 530px;
    }
  }
  .info_block{
    margin-top:50px;
    flex-wrap: wrap;
    max-width: 520px;
    justify-content: center;
  }
  .info_item{
    margin-bottom:30px;
  }
  .category_section_wrap{
    flex-wrap: wrap;
    .big_section{
      order: 1;
      margin: 0;
    }
    .small_section{
      max-width: 48%;
    }
    .category_item.mini_pc{
      max-width:none;
      height: 303px;
    }
  }
  .popular_product_section{
    flex-wrap: wrap;
  }
  .popular_product_category{
    max-width:100%;
  }
  .popular_category_item{
    &.big_item{
      width:49%;
    }
    &.small_item{
      width: 32%;
    }
    &.brand_item{
      width: 170px;
      height: 65px;
      position: relative;
      img{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:75%;
      }
    }
  }
  .product_category_right .popular_product_category{
    margin:0;
    order: 0;
  }
  .product_category_left .popular_product_category{
    margin:0;
  }
  .popular_brands_wrap{
    .brand_item{
      width:140px;
      img{
        max-width: 80%;
      }
    }
  }
  .header_section_img{
    top: 75px;
  }
  .detail_main_block{
    flex-wrap: wrap;
  }
  .short_content{
    .btn{
      margin-bottom:15px;
    }
  }
  .navigation_page {
    a {
      font-size: 13px;
      padding:12px;
    }
  }
  .item_market_price, .item_market_buy {
    flex-wrap: wrap;
  }
  .item_market_buy{
    justify-content: flex-end;
  }
  .services_market{
    width:180px;
    padding:5px;
    margin-bottom:10px;
  }
  .offer_market_item {
    padding: 14px 40px;
    p{
      margin: 10px 0;
    }
    .buy_btn{
      width: 180px;
      text-align: center;
    }
  }
  .characteristics_block{
    padding: 15px;
    margin: 0 5px 10px;
  }
  .reviews_item {
    padding: 0 15px 15px;
  }
  .main_nav_menu{
    display: block;
    position: absolute;
    top: 91px;
    right: 0;
    z-index:-1;
    background: rgba(15,123,185, .95);
    padding-bottom: 30px;
    transform: translateY(-150%);
    transition: transform ease .45s;
    &.open{
      display: block;
      transform: translateY(0);
    }
    .main_nav{
      flex-direction: column;
      align-items: flex-start;
      width: 300px;
      >li{
        width:100%;
      }
      .nav_item{
        padding: 10px;
        padding-left:30px;
        font-size: 18px;
        &:before{
          width:1.5em;
        }
      }
    }
  }
  .nav_dropdown_wrap{
    display: none;
  }
  .toggle_menu{
    display: block;
    margin-left:15px;
  }
  .search_hint_block{
    width:100%;
  }
  .search_block{
    flex-grow:1;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding:0 15px;
  }
  .header_section_img{
    display: none;
  }
  .popular_category_item{
    &.brand_item{
      width: 23%;
      height: 65px;
    }
  }
  .product_photo_slider{
    width:100%;
  }
  .gallery-thumbs-wrap{
    left: 5px;
  }
  .detail_main_block{
    justify-content: center;

  }
  .main_product_price{
    margin: 30px 0;
  }
  .category_header_wrap{
    padding: 30px 20px 45px 0;
    img{
      display: none;
    }
  }
  .filter_section{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: scroll;
    bottom: 30px;
    transition: transform ease .45s;
    transform: translateX(-110%);
    &.open{
      transform: translateX(0);
    }
  }
  .product_container{
    justify-content: center;
  }
  .filter_top_container{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 30px;
    background: #fff;
    margin-top:0;
    padding: 10px;
    transform: translateX(100%);
    transition: transform ease .45s;
    &.open{
      transform: translateX(0);
    }
  }
  .filter_top_item{
    display: block;
    text-align: center;
    &.active{
      box-shadow: 0 0 6px 2px rgba(15, 123, 185, 0.5);
    }
  }
  .filter_top_container{
    box-shadow: 0 0 6px 2px rgba(15, 123, 185, 0.5);
  }
  .filter_btn_block{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .nav_panel{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body{
    padding-bottom:200px;
  }
  .header_wrap {
    &.search_opened {
      .main_logo {
        display: none;
      }
    }
  }
  .search_block.open{
    margin: 0 35px;
  }
  .category_section_wrap .category_item.tablets{
    background-position: right bottom;
  }
  .category_section_wrap{
    .small_section{
      width:100%;
      max-width: none;
    }
    .big_section{
      width:100%;
      max-width: none;
    }
    .category_item.mini_pc{
      width:100%;
      margin-right:0;
    }
    .category_product{
      text-align: right;
    }
  }
  .popular_category_item.brand_item{
    height: 45px;
  }
  .popular_brands_wrap{
    justify-content: center;
    .brand_item{
      margin: 2px;
    }
  }
  h2{
    font-size:18px;
  }
  .footer_wrap{
    flex-wrap: wrap;

    .main_logo{
      //order: 1;
    }
  }
  .main_footer{
    padding: 20px 0;
    nav{
      order:1;
      margin: 10px 0;
      a{
        margin-right: 10px;
        font-size:16px;
      }
    }

  }
  .average_price{
    padding-left:5px;
    margin-left: 15px;

    .price_item{
      font-size:24px;
      padding-left:5px;
      padding-right:10px;
    }
  }
  .main_product_price{
    padding:0 10px;
    .all_price{
      .btn{
        display: block;
        width: 150px;
        text-align: center;
        margin-left:auto;
        margin-top:10px;
      }
    }
  }
  .main_product_rating .rating_block{
    padding: 7px 6px;
  }
  .short_content{
    margin:0;
    padding:10px;
  }
  .offer_market_item{
    padding:10px;
    flex-wrap: wrap;
    .price_wrap{
      margin:10px 0;
      position: relative;
      width: 130px;
      text-align: center;
    }
    .wrong_price{
      position: absolute;
      top: -3px;
      right: -6px;
      .tooltip{
        left:auto;
        right:50%;
        &:after{
          border-left: 8px solid transparent;
          border-right: 0 solid transparent;
          border-top: 5px solid #fff;
          left:auto;
          right:0;
        }
      }
    }
    .price_blue{
      font-size: 14px;
      padding: 3px 7px;
      &:before{
        left: -6px;
        border-top: 11px solid transparent;
        border-right: 6px solid #0f7bb9;
        border-bottom: 11px solid transparent;
      }
    }
  }
  .item_market_price, .item_market_buy{
    justify-content: center;
  }
  .characteristics_column{
    width:100%;
  }
  .reviews_block{
    flex-wrap: wrap;
  }
  .reviews_last{
    width:100%;
  }
  .reviews_item header .date{
    position: absolute;
    top: 5px;
    right: -10px;
    width:50px;
    padding: 5px 3px;
    text-align: center;
  }
  .reviews_statistic{
    width:100%;
    margin-left:0;
  }
  .reviews_statistic_item{
    padding: 14px 0 18px 60px;
    .reviews_amount{
      &:before{
        width: 35px;
      }
    }
  }
  .info_item{
    margin:0 auto 20px;
  }
  .how_choise img{
    display: none;
  }
  .navigation_page a{
    display: block;
    text-align: center;
  }
  .search_hint{
    width:auto;
    left:-20px;
    right:-50px;
  }
  .main_nav_menu{
    left:0;
    .main_nav{
      .nav_item{
        padding: 10px 10px 10px 75px;
      }
    }
  }
}