@import "../../node_modules/jquery-nice-select/css/nice-select.css";
@import "../../node_modules/reset-css/reset.scss";
@import "../../node_modules/swiper/dist/css/swiper.min.css";
@import "../../node_modules/jquery-ui-dist/jquery-ui.theme.css";
@import "../../node_modules/jquery-ui-dist/jquery-ui.css";

@import "../fonts/icon_font/css/fontello.css";
@import "_partials/fonts";


//@import "_partials/variables";
$main-color: #0f7bb9;
$accent-color: #fd8006;
$char-color: #41b81c;

$rob: 'RobotoSlab', sans-serif, arial;
$sans: 'PTSans', sans-serif, arial;
$sans-narw: 'PTSans-Narrow', sans-serif, arial;
*{
  box-sizing: border-box;
}
html{
  height:100%;
}
a{
  text-decoration: none;
}
input, button, select{
  outline:none;
}
body{
  font-size:16px;
  font-family:$sans;
  font-weight:normal;
  line-height: 1.2;
  color: #000;
  position: relative;
  padding-bottom: 170px;
  min-height: 100%;
  overflow-x: hidden;
}
.container{
  width: 1180px;
  margin: 0 auto;
}
h1{
  font-size:38px;
  font-family:$rob;
  font-weight:bold;
}
h2{
  font-family:$rob;
  font-size:24px;
  margin-top:30px;
  margin-bottom:30px;
}
h3{
  font-family:$rob;
  font-size:24px;
}
.main_header{
  background: $main-color;
  min-height: 90px;
  padding:30px 0;
  z-index: 5;
  position: relative;
  box-shadow: 0 0 40px 10px rgba(15,123,185,.5);
  .icon-search{
    color: #fff;
    &:before{
      font-size:22px;
    }
    &:hover{
      &:before{
        color: #b4ff9d;
      }
    }
  }
}

.header_wrap, .footer_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_logo{
  font-size:26px;
  color: #fff;
  font-family: $rob;
  font-weight:bold;
  .logo_color{
    color: #b4ff9d;
    position: relative;
    &:before{
      position: absolute;
      font-size: 14px;
      top: -3px;
      left: 6px;
    }
  }
  .logo_font{
    font-weight:300;
  }
}
.main_nav{
  display: flex;
  justify-content: center;
  font-weight:bold;

  >li{
    position: relative;
    &:hover{
      .nav_dropdown{
        display: block;
      }
    }
    &.left_dropdown{
      .nav_dropdown_block{
        left:auto;
        right:100%;
        box-shadow: -14px 20px 42px -7px rgba(3,56,87,.19);
      }
    }
  }
  .nav_item{
    color: #fff;
    display: block;
    padding: 5px 12px;
    font-size:18px;
    transition: all .3s;
    margin-right: 7px;
    &:before{
      width:auto;
      margin-right:13px;
      font-size: 22px;
    }
    &:hover{
      background: #075483;
      &:before{
        color: #b4ff9d;
      }
    }
  }
}
.nav_dropdown_wrap{
  position: absolute;
  top: 100%;
  padding-top:17px;
  z-index:100;
}
.nav_dropdown{
  background: #ecf7f5;
  padding: 15px 0;
  min-width: 200px;
  min-height: 245px;
  display: none;
  position: relative;
  box-shadow: 0 7px 29px 0 rgba(3,56,87,.19);
  &:before{
    content: '';
    display: block;
    width:0;
    height:0;
    border-bottom: 6px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    top: -5px;
    left:15px;
  }
  li{
    padding: 10px 25px;
    font-size:15px;
    &:hover{
      background: #fff;
      .nav_dropdown_block{
        display: block;
      }
    }
    a{
      color: #000;
      font-weight:normal;
    }
  }
}
.nav_dropdown_block{
  box-shadow: 14px 20px 42px -7px rgba(3,56,87,.19);
  background: #fff;
  position: absolute;
  top: 0;
  bottom:0;
  left:100%;
  width:490px;
  padding: 25px;
  padding-bottom:15px;
  display: none;
  h4{
    font-size:18px;
    font-family:$rob;
    margin-bottom:20px;
  }
  .img_wrap{
    position: absolute;
    right: 25px;
    top:25px;
  }
  .product_name{
    font-size:16px;
    font-weight:normal;
    margin-bottom:10px;
  }
  .tag_name{
    color: #82a5ac;
  }
  .characteristics_list{
    width:300px;
    margin: 15px 0 35px;
    font-weight:normal;
    dt{
      width:128px;
      font-size:13px;
    }
    dd{
      font-size:13px;
      span{
        font-weight:bold;
      }
    }
  }
  .characteristics_item{
    margin-bottom:8px;
  }
  .special_price{
    border-top: 1px solid #e9f4f6;
    text-align: right;
    padding: 13px;
    span{
      font-weight:normal;
      font-size:16px;
    }
    .price_blue{
      margin-left: 37px;
      color: #fff;
      font-weight:bold;
    }
  }
}
.main_footer{
  min-height: 170px;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  background: #ecf7f5;
  padding: 48px 0;
  nav{
    font-size:14px;
    max-width: 680px;
    a{
      font-size:18px;
      font-weight:bold;
      color: #000;
      margin-right:30px;
      &.current{
        color: $main-color;
      }
    }
    p{
      margin-top:25px;
      color: #52605d;
      span{
        font-weight:bold;
      }
    }
  }
  .main_logo{
    color: #000;
    .logo_color{
      color: $main-color;
    }
  }
}
.header_section{
  background: url(../img/main_page_bg.jpg) no-repeat center;
  background-size:cover;
  padding: 35px 0;
}
.header_section_wrap{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_section_info{
  max-width: 880px;
  width:100%;
  h1{
    max-width: 680px;
    margin-bottom:48px;
  }
  p.info{
    max-width: 680px;
    font-size: 13px;
    line-height:1.8;
    opacity:.8;
  }
}
.info_block{
  display: flex;
  margin-top:85px;
}
.info_item{
  min-width: 170px;
  display: flex;
  margin-right: 40px;
}
.info_item_img{
  padding-right:42px;
  position: relative;
  &:before{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    width:auto;
    font-size:36px;
  }
}
.info_item_name{
  font-size: 13px;
  max-width: 70px;
  flex-grow:1;
  display: inline-flex;
  align-items: center;
}
.info_item_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_item_quantity{
  font-size: 36px;
  color: #b4ff9d;
  font-weight:bold;
}
.category_section{
  margin-bottom:10px;
}
.category_section_wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 0 0;
  .small_section{
    width:100%;
    max-width: 280px;
  }
  .big_section{
    width:50%;
    flex-grow:1;
    margin: 0 20px;
    flex-wrap: wrap;
    display: flex;
  }
  .category_item{
    margin-bottom:20px;
    text-align: center;
    padding: 35px 45px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    transition: background .3s;
    p.title{
      font-family:$rob;
      font-size:22px;
      margin-bottom:16px;
      color: #000;
    }
    &.phone{
      background: url(../img/smartphone_category.png) no-repeat center 20% #ecf7f5;
      height:320px;
      justify-content: flex-end;
      &:hover{
        background-color: #e5f0ee;
      }
    }
    &.camera{
      background: url(../img/actioncamera_category.png) no-repeat center 80% #e0fbe4;
      height:250px;
      justify-content: flex-start;
      &:hover{
        background-color: #d1ebd5;
      }
    }
    &.smart_tv{
      background: url(../img/smarttv_category.png) no-repeat center right #d3fbf4;
      height:250px;
      align-items: flex-start;
      justify-content: center;
      p.title{
        font-size:30px;
      }
      &:hover{
        background-color: #afe8e0;
      }
    }
    &.mini_pc{
      background: url(../img/minipc_category.png) no-repeat center 20% #f6eef1;
      height:320px;
      justify-content: flex-end;
      width:50%;
      max-width: 280px;
      margin-right:20px;
      &:hover{
        background-color: #E7DFE2;
      }
    }
    &.tablets{
      background: url(../img/tablet_category.png) no-repeat center bottom #ecf7f5;
      height:250px;
      justify-content: flex-start;
      &:hover{
        background-color: #DFEAE8;
      }
    }
    &.watch{
      background: url(../img/smartwatch_category.png) no-repeat center 20% #fff9ed;
      height:320px;
      justify-content: flex-end;
      &:hover{
        background-color: #ffedc8;
      }
    }
  }
  .category_product{
    border: 1px solid #e0ecef;
    box-shadow: 0 2px 10px 0 rgba(182,195,197, .24);
    position: relative;
    padding: 22px 30px 10px 115px;
    margin-bottom:20px;
    .img_wrap{
      position: absolute;
      max-height: 100px ;
      left: 30px;
      top: 20px;
      bottom: 30px;
      width:65px;
      text-align: center;
      img{
        height: 100%;
      }
    }
  }
  a{
    margin-bottom:10px;
  }
}
.category_product_wrap{
  width:20%;
  flex-grow:1;
}
.product_name{
  color: #000;
  font-size: 16px;
  transition: all ease .2s;
  display: block;
  &:hover{
    color: #0168a4;
    text-decoration: underline;
  }
}
.tag_name{
  color: #82a5ac;
  font-size:11px;
  padding: 5px 15px;
  border: 1px solid #c1d6db;
  border-radius: 15px;
  width:auto;
  transition: all ease .3s;
  display: inline-block;
  &:hover{
    color: #000;
  }
}
.price_blue{
  background: $main-color;
  color: #fff;
  font-weight:bold;
  font-size:16px;
  padding: 7px 10px;
  position: relative;
  margin-left:8px;
  display: inline-block;
  transition: all ease .3s;
  box-shadow: 0 4px 9px 0 rgba(15,123,185,.23);
  &:before{
    content: '';
    display: block;
    width:0;
    height:0;
    position: absolute;
    left:-8px;
    top:0;
    border-top: 16px solid transparent;
    border-right: 8px solid #0f7bb9;
    border-bottom: 17px solid transparent;
    transition: all ease .3s;
  }
  &:hover{
    background: #096ca5;
    &:before{
      border-right-color: #096ca5;
    }
  }
}
.price_orange{
  background: $accent-color;
  color: #fff;
  font-weight:bold;
  font-size:16px;
  padding: 4px 7px;
  box-shadow: 0 3px 7px 0 rgba(203,67,0,.26);
  position: relative;
  transition: background ease .3s;
  &:after{
    content: '';
    position: absolute;
    top:-3px;
    left:50%;
    transform: translateX(-50%) rotate(45deg);
    background: $accent-color;
    display: block;
    width:6px;
    height:6px;
    transition: background ease .3s;
  }
  &:hover{
    background: #f25b00;
    &:after{
      background: #f25b00;
    }
  }
}
.popular_product_section{
  display: flex;
}
.popular_product_category{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 460px;
  text-align: center;
  .product_item{
    margin:0;

  }
}
.product_category_left{
  .popular_product_category{
    margin-right:20px;
    order:0;
  }
}
.product_category_right{
  margin-bottom: 40px;
  .popular_product_category{
    margin-left:20px;
    order:1;
  }
}
.popular_category_item{
  margin-bottom:15px;
  transition: background .3s;
  p.title{
    font-family:$rob;
    color: #000;
  }
  &.big_item{
    width:220px;
    padding: 40px 0 50px;
    font-size:20px;
    p.title{
      margin-bottom:18px;
    }
  }
  &.small_item{
    width: 140px;
    font-size:13px;
    padding: 46px 0 27px;
    p.title{
      margin-top:12px;
    }
  }
  &.brand_item{
    width:100px;
    border: 1px solid #e0ecef;
    box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
    padding: 11px 15px;
    img{
      width:100%;
      vertical-align: middle;
    }
    &:hover{
      border-color: #b9d1d6;
      box-shadow: 0 2px 10px 0 #ccd7d9;
    }
  }
  &.phone{
    background: #ecf7f5;
    &:hover{
      background-color: #E0EAE8;
    }
  }
  &.big_price{
    background: url(../img/icon/big_price.png) no-repeat center 75% #fff9ed;
    &:hover{
      background-color: #FFF5DD;
    }
  }
  &.battery{
    background: url(../img/icon/battery_img.png) no-repeat center 30% #e0fbe4;
    &:hover{
      background-color: #D3ECD6;
    }
  }
  &.speed{
    background: url(../img/icon/speed_img.png) no-repeat center 22% #d3fbf4;
    &:hover{
      background-color: #C7ECE6;
    }
  }
  &.camera{
    background: url(../img/icon/camera_img.png) no-repeat center 20% #f6eef1;
    &:hover{
      background-color: #ffe5f5;
    }
  }
}
.tablets_product_section{
  .tablet{
    background: #d3fbf4;
    transition: background .3s;
    &:hover{
      background-color: #C6EBE4;
    }
  }
  .big_price{
    background-color: #e0fbe4;
    &:hover{
      background-color: #D3ECD7;
    }
  }
  .battery{
    background-color: #f6eef1;
    &:hover{
      background-color: #f6e5e7;
    }
  }
  .speed{
    background-color: #ecf7f5;
    &:hover{
      background-color: #E0F7F2;
    }
  }
  .camera{
    background-color: #fff9ed;
    &:hover{
      background-color: #FFEDE3;
    }
  }
}
.price_tablet{
  font-family:$rob;
  font-weight:bold;
  font-size:30px;
  color: #0f7bb9;
}
.product_wrap{
  display: flex;
  justify-content: space-between;
  flex-grow:1;
  margin: 0 -10px;
  position: relative;
  width:100%;
}
.popular_product_section{
  position: relative;
}
.all_product{
  margin: 0 -10px;
  .product_item{
    margin:0 10px;
  }
}
.product_item{
  border: 1px solid #f6eef1;
  box-shadow: 0 8px 10px 0 rgba(182,195,197,.24);
  padding: 15px 18px 70px;
  position: relative;
  width:220px;
  height:340px;
  margin: 0 10px;
  margin-bottom:20px;
  background: #fff;
  flex-shrink: 0;
  &:hover{
    box-shadow: 0 8px 10px 0 #ccd7d9;
  }
  .product_name{
    margin-bottom:32px;
  }
  .rating_block{
    float: right;
    &:after{
      content: '';
      clear: both;
    }
  }
  .img_wrap{
    display: block;
    position: absolute;
    width: 110px;
    height: 140px;
    text-align: center;
    top: 110px;
    img{
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .price_block{
    position: absolute;
    top: 83%;
    left:0;
    right:0;
    z-index:20;
    border-top: 1px solid #f6eef1;

    &:hover{
      li{
        display: flex;
      }
      box-shadow: 0 4px 10px 0 rgba(182,195,197,.24);
    }
    li{
      padding:14px 20px;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border: 1px solid #f6eef1;
      border-top:none ;
      display: none;
      &:hover{
        background: #f6f9f9;
      }
      &:first-child{
        display: flex;
        border-left: none;
        border-right: none;
      }
    }
    .market_link{
      width:60px;
      display: inline-block;
      filter: grayscale(1);
      opacity:.3;
      img{
        width:100%;
      }
      &:hover{
        filter: grayscale(0);
        opacity:1;
      }
    }
    .all_price{
      color: #82a5ac;
      font-size:13px;
    }
  }
}
.rating_item{
  display: flex;
  width:63px;
  margin-bottom: 8px;
  position: relative;
  &:hover{
    .tooltip{
      display: block;
    }
  }
  .rating_icon{
    border: 1px solid #e9f4f6;
    border-right: none;

    &:before{
      width:14px;
      font-size:10px;
      display: block;
      padding: 5px;
    }
  }
  .rating_number{
    font-size:12px;
    font-weight:bold;
    line-height: 22px;
    width:50%;
    flex-grow:1;
    position: relative;
    .rating_bar{
      height:100%;
      background: $char-color;
      text-align: center;
      &.very_good{
        background: #41b81c;
      }
      &.good{
        background: #a0b81c;
      }
      &.normal{
        background: #ea9b29;
      }
      &.bad{
        background: #d9631b;
      }
      &.very_bad{
        background: #e33737;
      }
    }
    span{
      color: #fff;
    }
  }
}
.tooltip{
  position: absolute;
  width:auto;
  padding: 10px 8px;
  background: #fff;
  box-shadow: 0 2px 27px 0 rgba(182,195,197,.5);
  font-size:11px;
  white-space:nowrap;
  display: none;
  bottom: 140%;
  z-index:5;
  left:50%;
  &:after{
    content: '';
    display: block;
    width:0;
    height:0;
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    top:100%;
    left:0;
  }
}
.popular_brands{
  background: #e6f4f2;
  padding-top:15px;
  margin-top: 70px;
  padding-bottom: 40px;
}
.popular_brands_wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .brand_item{
    width:220px;
    height:110px;
    padding: 20px 39px;
    display: block;
    position: relative;
    border:1px solid #cfe2e6;
    margin-bottom:20px;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(204,215,217, .24) ;
    &:hover{
      border-color: #b9d1d6;
      box-shadow: 0 2px 10px 0 rgba(204,215,217, 1) ;
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.market_block{
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 45px;
  .market_slider{
    padding-bottom:10px;

  }
  .swiper-scrollbar{
    width: 80%;
    height:5px;
    margin:30px auto;
  }
  .swiper-scrollbar-drag{
    width:26px !important;
    height:26px;
    background: #fff;
    border: 6px solid #c9dfdb;
    border-radius: 50%;
    top:-11px;
    cursor: pointer;
    &:hover{
      border-color: $main-color;
    }
  }
  .market_item{
    width:190px;
    height:190px;
    border-radius: 50%;
    border:1px solid #cedee2;
    box-shadow: 0 2px 10px 0 rgba(182,195,197,.51);
    position: relative;
    display: block;
    background: #fff;
    img{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
}
.breadcrumbs{
  li{
    display: inline-block;
    margin-right:24px;
    position: relative;
    font-size:14px;
    &:after{
      content: '';
      display: block;
      width:3px;
      height:3px;
      position: absolute;
      top:50%;
      right:-16px;
      transform: translateY(-50%);
      background: #82a5ac;
    }
    &:last-child{
      margin-right:0;
      &:after{
        display: none;
      }
    }
  }
  a{
    color: #82a5ac;
  }
}
.detail_main{
  padding-top:45px;
  h1{
    font-size:34px;
    margin-bottom:11px;
  }
}
.detail_main_block{
  display: flex;
  align-items: center;
  border: 1px solid #e0ecef;
  box-shadow: 0 2px 10px 0 rgba(182,195,197, .24);
  margin-top:35px;
}
.product_photo_slider{
  width:420px;
  height:380px;
  position: relative;
}
.gallery-main{
  height: 100%;
  text-align: center;
  padding-left: 15%;
  .swiper-slide{
    position: relative;
    img{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      min-height: 270px;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .slider_arrow{
    position: absolute;
    top: 15px;
    left:10px;
    width: 9px;
    height:9px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    opacity: .5;
    cursor: pointer;
    &:hover{
      opacity:1;
    }
  }
  .slider-btn-next{
    top:auto;
    bottom: 15px;
    transform: rotate(135deg);
  }
  .slider-btn-prev{
    transform: rotate(-45deg);
  }
}
.gallery-thumbs-wrap{
  padding: 35px 0;
  height:100%;
  position: absolute;
  top:0;
  left: -25px;
}
.gallery-thumbs{
  height:100%;
  overflow-y: hidden;
  padding-right: 10px;
  .swiper-slide{
    width:80px;
    height:90px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #cedee2;
    background: #fff;
    img{
      height:100%;
    }
  }
  .swiper-slide-active{
    overflow: visible;
    box-shadow: 0 2px 10px 0 rgba(15,123,185,.2);
    border: 1px solid $main-color;
    &:after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #fff;
      position: absolute;
      top: 0;
      left: 97%;
      //box-shadow: 0 0 0 1px rgba(15,123,185,1);
      filter: drop-shadow(3px -1px 0 $main-color);
    }
  }
}
.main_product_price{
  width:340px;
  .all_price{
    text-align: right;
    span{
      font-weight:bold;
    }
    .btn{
      vertical-align: top;
      margin-left:25px;
    }
  }
}
.main_product_rating{
  border:1px solid #e0ecef;
  margin-top:47px;
  box-shadow: 0 2px 10px 0 rgba(182,195,197, .24);
  .rating_block{
    padding:16px 20px;
    display: flex;
    justify-content: space-between;
  }
  .rating_item{
    flex-direction: column;
    width:34px;
    height:43px;
    .rating_icon{
      border: 1px solid #e9f4f6;
      border-bottom:none;
      &:before{
        margin: 0 auto;
      }
    }
    .rating_number{
      width:100%;
      background: #e0ecef;
      .rating_bar{
        height:22px;
      }
    }
  }
}
.average_rating{
  background: #e0fbe4;
  padding: 13px 20px;
  font-size:15px;
  font-family:$rob;
  position: relative;
  p{
    font-weight:bold;
    span{
      font-weight:300;
    }
  }
  .average_rating_item{
    position: absolute;
    top: -11px;
    right:20px;
    background: $char-color;
    width:80px;
    text-align: center;
    height:58px;
    line-height:58px;
    font-size:33px;
    color: #fff;
    &:after{
      content: '';
      display: block;
      width:0;
      height:0;
      border-top: 10px solid transparent;
      border-right: 10px solid #339b12;
      border-bottom: 0 solid transparent;
      position: absolute;
      top: 0;
      left:-10px;
    }
  }
}
.btn{
  background: none;
  border-radius: 30px;
  font-size:13px;
  border:2px solid $main-color;
  padding:3px 15px;
  color: #000;
  transition: all ease .3s;
  cursor: pointer;
  &:hover{
    border-color: $accent-color;
  }
}
.btn_grey{
  border-color: #ecf7f5;
  &:hover{
    border-color: #cfe5e1;
  }
}
.btn_big{
  display: block;
  margin: 34px auto;
  font-size:15px;
  padding: 7px 14px;
  span{
    font-size:14px;
    color: #82a5ac;
  }
}
.description_product{
  margin-bottom: 60px;
  h2{
    margin-bottom: 35px;
  }
  p{
    font-size:15px;
    line-height: 1.4;
  }
}
.average_price{
  background: #ecf7f5;
  position: relative;
  font-family: $rob;
  font-size:17px;
  height:60px;
  line-height:60px;
  padding-left:20px;
  margin-bottom:28px;
  &:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -14px;
    top: 0;
    border-top: 30px solid transparent;
    border-right: 14px solid #ecf7f5;
    border-bottom: 30px solid transparent;
  }
  .price_item{
    position: absolute;
    top:0;
    right:0;
    font-family:$sans;
    font-weight:bold;
    font-size:28px;
    color: #fff;
    background: $main-color;
    padding-left:13px;
    padding-right:25px;
    box-shadow: 0 3px 5px 0 rgba(15,123,185,.26);
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: -14px;
      top: 0;
      border-top: 30px solid transparent;
      border-right: 14px solid $main-color;
      border-bottom: 30px solid transparent;
    }
  }
}
.short_content{
  margin-left: 30px;
  flex-grow:1;
  h2{
    font-size:20px;
    margin: 0;
    margin-bottom:30px;
  }
  .btn{
    margin-top:15px;
    position: relative;
    top:7px;
  }
}
.characteristics_item{
  display: flex;
  margin-bottom:17px;
  font-size:15px;
  color: #343434;
  dt{
    width:47%;
    color: #80979c;
    flex-shrink: 0;
  }
  &:last-child{
    margin-bottom:0;
  }
}
.navigation_page{
  margin:30px 0 30px;
  box-shadow: 0 2px 10px 0 rgba(182,195,197, .24);
  border:1px solid #e0ecef;
  a{
    display: inline-block;
    padding:14px 19px;
    font-size:18px;
    font-weight:bold;
    color: #000;
    transition: all ease .3s;
    span{
      font-size:16px;
      font-weight:normal;
      color: #82a5ac;
    }
    &:hover{
      background: #ecf7f5;
    }
    &.active{
      background: $main-color;
      color: #fff;
      span{
        color: #c5eaff;
      }
    }
  }
}

.offer_market_item{
  box-shadow: 0 2px 10px 0 rgba(182,195,197, .24);
  border:1px solid #e0ecef;
  padding: 14px 20px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-bottom:20px;
  &:hover{
    border-color: #cedee2;
    box-shadow: 0 2px 10px 0 rgba(182,195,197,.51);
  }
  p{
    max-width: 385px;
    font-size:15px;
    margin: 0 48px;
  }
  .wrong_price{
    display: inline-block;
    width: 28px;
    height:26px;
    background: url(../img/paymant_icon.png) no-repeat -169px -48px;
    position: relative;
    margin-left: 14px;
    &:hover{
      background-position:  -169px -5px;
      .tooltip{
        display: block;
      }
    }
  }
  .price_blue{
    vertical-align: text-bottom;
    font-size: 20px;
    &:before{
      left: -12px;
      border-top: 19px solid transparent;
      border-right: 12px solid #0f7bb9;
      border-bottom: 19px solid transparent;
    }
    &:hover{
      &:before {
        border-right-color: #096ca5;
      }
    }
  }
  .market_logo{
    width:120px;
    img{
      max-width: 100%;
    }
  }
  .price_wrap{
    margin-left: 47px;
  }
}
.services_market{
  border:1px solid #eff5f7;
  padding:15px 20px;
  .servise_item{
    display: inline-block;
    width:25px;
    height:25px;
    background: url(../img/paymant_icon.png) no-repeat;
    position: relative;
    margin-right: 15px;
    &.disabled{
      &.servise_1{
        background-position: -9px -48px;
      }
      &.credit_card{
        background-position: -52px -48px;
      }
      &.servise_paypal{
        background-position: -90px -48px;
      }
      &.servise_delivery{
        background-position: -131px -48px;
      }
    }
    &:hover{
      .tooltip{
        display: block;
      }
    }
  }
  .servise_1{
    background-position: -9px -5px;
  }
  .credit_card{
    background-position: -52px -5px;
  }
  .servise_paypal{
    background-position: -90px -5px;
  }
  .servise_delivery{
    background-position: -131px -5px;
    margin:0;
  }
}
.buy_btn{
  background: $accent-color;
  padding: 7px 20px;
  position: relative;
  margin-left: 8px;
  transition: all ease .3s;
  color: #fff;
  font-size:20px;
  font-weight:bold;
  box-shadow: 0 4px 5px rgba(203,67,0,.26);
  &:hover{
    background: #f25b00;
    &:after{
      border-left: 10px solid #f25b00;
    }
  }
  &:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    top: 0;
    border-top: 19px solid transparent;
    border-left: 10px solid $accent-color;
    border-bottom: 19px solid transparent;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
  }
}

.characteristics_product_wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  align-items: flex-start;
}
.characteristics_column{
  width:45%;
  flex-grow:1;
}
.characteristics_block{
  padding: 28px 40px 39px;
  border: 1px solid #e0ecef;
  margin:0 10px 20px;
  box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
  h3{
    font-size:18px;
    padding-left:50px;
    padding-top:7px;
    padding-bottom:25px;
    background: url(../img/icon/youtube_img.png) no-repeat top left;
    border-bottom: 1px solid #e0ecef;
    margin-bottom:20px;
  }
  iframe{
    width:100%;
    height:330px;
  }
  &.video{
    h3{
      background-image: url(../img/icon/youtube_img.png);
      background-position: left 5px;
    }
  }
  &.common_data{
    h3{
      background-image: url(../img/icon/general_characteristic_img.png);
    }
  }
  &.sound{
    h3{
      background-image: url(../img/icon/music_img.png);
    }
  }
  &.main_camera{
    h3{
      background-image: url(../img/icon/main_camera.png);
    }
  }
  &.battery{
    h3{
      background-image: url(../img/icon/battery_img.png);
      background-position: left 7px;
    }
  }
  &.network{
    h3{
      background-image: url(../img/icon/communications_img.png);
    }
  }
  &.sensors{
    h3{
      background-image: url(../img/icon/sensor.png);
    }
  }
  &.front_camera{
    h3{
      background-image: url(../img/icon/front_camera.png);
    }
  }
  &.chipset{
    h3{
      background-image: url(../img/icon/speed_img.png);
    }
  }
}
.reviews_item{
  box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
  border: 1px solid #e0ecef;
  padding:40px;
  padding-top:0;
  margin-bottom:30px;
  header{
    border-bottom:1px solid #e0ecef;
    padding: 17px 0;
    padding-left:104px;
    position: relative;
    p{
      display: inline-block;
    }
    .name{
      font-size:17px;
      font-family:$rob;
      margin-right: 35px;
    }
    .term_us{
      color: #82a5ac;
      font-size:14px;
      span{
        color: #000;
      }
    }
    .date{
      color: #82a5ac;
      font-size: 11px;
      padding: 5px 15px;
      border: 1px solid #c1d6db;
      border-radius: 15px;
      width: auto;
      float: right;
    }
  }
}
.reviews_rating_item{
  position: absolute;
  top: -11px;
  left: 0;
  background: #41b81c;
  width: 80px;
  text-align: center;
  height: 58px;
  line-height: 58px;
  font-size: 33px;
  color: #fff;
  font-family:$rob;
  &:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #339b12;
    border-bottom: 0 solid transparent;
    position: absolute;
    top: 0;
    left: -10px;
  }
  &.very_good{
    background: #41b81c;
    &:before{
      border-right: 10px solid #339b12;
    }
  }
  &.good{
    background: #a0b81c;
    &:before{
      border-right: 10px solid #7d910d;
    }
  }
  &.normal{
    background: #ea9b29;
    &:before{
      border-right: 10px solid #cd8216;
    }
  }
  &.bad{
    background: #d9631b;
    &:before{
      border-right: 10px solid #bc500e;
    }
  }
  &.very_bad{
    background: #e33737;
    &:before{
      border-right: 10px solid #b81a1a;
    }
  }

}
.review_text_item{
  border-bottom: 1px dashed #e0ecef;
  padding-top: 15px;
  &:last-child{
    border: none;
  }
  h3{
    font-size:17px;
    font-weight:bold;
    font-family: $sans;
    margin-bottom: 15px;
  }
  p{
    font-size:15px;
    margin-bottom:17px;
    line-height: 1.4;
  }
  &.dignity{
    padding-top: 25px;
    h3{
      color: $char-color;
    }
  }
  &.limitations{
    padding-top: 14px;
    h3{
      color: #ec3434;
    }
  }
}
.reviews_block{
  display: flex;
  margin-top:10px;
  h2{
    margin-top:0;
  }
}
.reviews_last{
  width:50%;
  flex-grow:1;
}
.reviews_statistic{
  width: 320px;
  margin-left: 40px;
}
.reviews_statistic_item{
  box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
  border: 1px solid #e0ecef;
  padding: 14px 0 18px 65px;
  position: relative;
  margin-bottom: 19px;
  .reviews_percent, .reviews_amount{
    display: inline-block;
    vertical-align: sub;
  }
  .reviews_percent{
    font-size:23px;
    font-family:$rob;
    min-width: 40px;
  }
  .reviews_amount{
    font-size:15px;
    span{
      font-weight:bold;
    }
    &:before{
      content: '';
      display: inline-block;
      width: 75px;
      height:0;
      border-bottom: 1px dashed #e0ecef;
      margin:-5px 8px 0;
      vertical-align: middle;
    }
  }
  .reviews_rating_item{
    width:55px;
    height: 40px;
    font-size:23px;
    line-height:40px;
    top:calc(50% - 20px);
    left:-8px;
    &:before{
      border-right: 8px solid #339b12;
      border-bottom: 8px solid transparent;
      border-top: none;
      top: 100%;
      left: 0;
    }
    &.very_good{
      background: #41b81c;
      &:before{
        border-right: 8px solid #339b12;
      }
    }
    &.good{
      background: #a0b81c;
      &:before{
        border-right: 8px solid #7d910d;
      }
    }
    &.normal{
      background: #ea9b29;
      &:before{
        border-right: 8px solid #cd8216;
      }
    }
    &.bad{
      background: #d9631b;
      &:before{
        border-right: 8px solid #bc500e;
      }
    }
    &.very_bad{
      background: #e33737;
      &:before{
        border-right: 8px solid #b81a1a;
      }
    }
  }
}

.similar_product_block{
  position: relative;
  margin-bottom:47px;
  .similar_product_slider{
    padding-bottom: 155px;
    overflow-x: hidden;
    margin-bottom: -155px;
  }
  .btn_wrap{
    position: absolute;
    top:5px;
    right:0;
  }
  .similar_btn{
    width:30px;
    height:30px;
    border: 1px solid #e0ecef;
    box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 11px;
    &:before{
      content: '';
      position: absolute;
      top: 9px;
      left: 7px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      opacity: .8;
    }
    &.btn-prev{
      &:before{

        left: 11px;
        transform: rotate(-135deg);
      }
    }
    &.btn-next{
      &:before{
        transform: rotate(45deg);
      }
    }
    &.swiper-button-disabled{
      &:before{
        opacity:.3;
      }
    }
  }
}
.viewed_product_block{
  background: #f7f7f7;
  padding-top:5px;
  padding-bottom: 50px;
  h2{
    margin-bottom: 23px;
  }
}
.viewed_product_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -10px;
}
.viewed_product{
  border: 1px solid #e0ecef;
  box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
  position: relative;
  padding: 15px 10px 10px 100px;
  width:280px;
  height:130px;
  margin: 10px;
  background: #fff;
 .img_wrap {
    position: absolute;
    max-height: 100px;
    left: 23px;
    top: 20px;
    bottom: 20px;
    width: 65px;
    text-align: center;
   img{
     height:100%;
   }
  }
  span{
    margin-bottom:30px;
  }
  &:hover{
    border-color: #cedee2;
    box-shadow: 0 2px 10px 0 rgba(182,195,197,.51);
  }
}

.brand_header_section{
  background: #ecf7f5;
  padding: 48px 0;
  min-height: 300px;
  margin-bottom:-30px;
  h1{
    font-size:26px;
    margin-bottom:20px;
    font-weight:400;
  }
  p{
    font-size:14px;
    color: #53605e;
    line-height:1.5;
  }
}
.brand_img{
  background: #fff;
  border: 1px solid #e0ecef;
  box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
  width:220px;
  height:160px;
  padding:20px;
  position: relative;
  margin-right:20px;
  float: left;
  img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  &:after{
    content: '';
    clear: both;
  }
}
.product_container{
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

}
.preloader{
  text-align: center;
  img{
    animation-name: preloader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

}
@keyframes preloader {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.pagination{
  margin:30px 0;
  text-align: center;
  li{
    display: inline-block;
    vertical-align: top;
  }
  a{
    font-size:14px;
    color: #000;
    display: block;
    min-width:30px;
    height:30px;
    border: 1px solid #e0ecef;
    box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
    padding:6px;
    text-align: center;
    position: relative;
    margin: 0 5px;
    &:hover{
      background: #ecf7f5;
    }
    &.active{
      background: $main-color;
      color: #fff;
    }
  }
  .next, .prev{
    margin: 0 10px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 8px;
      width: 7px;
      height: 7px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
    }
  }
  .next{
    &:before{
      transform: rotate(45deg);
    }
  }
  .prev{
    &:before{
      transform: rotate(-135deg);
      top: 10px;
      left: 12px;
    }
  }
}
.show_more{
  font-size:16px;
  text-align: center;
  margin-bottom:60px;
  a{
    color: #000;
    &:hover{
      color: #0f7bb9;
      text-decoration: underline;
    }
  }
}

.category_header_section{
  min-height: 300px;
  background: url(../img/category_page_bg.jpg) no-repeat center;
  background-size:cover;
}
.category_header_wrap{
  padding: 45px 0;
  padding-left: 240px;
  position: relative;
  color: #fff;
  margin-bottom:-30px;
  img{
    position: absolute;
    left:45px;
    top:45px;
  }
  h1{
    font-size:26px;
    margin-bottom:25px;
  }
  p{
    font-size:13px;
    line-height:2;
  }
}
.filter_top_item{
  display: inline-block;
  font-size:13px;
  color: #fff;
  background: #075483;
  padding: 7px 14px;
  margin-right: 5px;
  &:hover{
    background: #086ea6;
  }
  &.active{
    background: #fff;
    color: #000;
  }
}
.filter_top_container{
  margin-top: 25px;
}
.search_container{
  display: flex;
  align-items: flex-start;
}
.filter_section{
  width:220px;
  flex-shrink: 0;
  padding:0 19px;
  border: 1px solid #f6eef1;
  box-shadow: 0 2px 10px 0 rgba(182,195,197,.24);
  background: #fff;
  margin-right:20px;
  margin-top:-10px;
}
.filter_block{
  margin: 30px 0;
  border-bottom: 1px solid #e0ecef;
  position: relative;
  h3{
    font-size:18px;
    margin-bottom: 15px;
    font-weight:600;
  }
  h4{
    margin-bottom:10px;
    font-size:15px;
    font-family:$rob;
  }
  .search_wrap{
    position: absolute;
    top: 0;
    right: 0;
    left: 60%;
    border-bottom: 1px solid #e0ecef;
    &:before{
      position: absolute;
      top:7px;
      right:0;
      font-size:8px;
    }
    input{
      background: none;
      -webkit-appearance: none;
      border: none;
      width:100%;
      font-size:11px;
      outline: none;
      padding-right:12px;
    }
  }
  &:last-child{
    border-bottom: none;
  }
}
.price-range{
  position: relative;
  margin-top:40px;
  &.ui-widget-content{
    background: none;
    border: none;
  }
  .ui-slider-handle{
    width:24px;
    height:24px;
    border-radius: 50%;
    border: 2px solid $main-color;
    cursor: pointer;
    outline: none;
    top: -30px;
    margin-right:-2px;
    &:before{
      content: '\e802';
      font-family: "fontello";
      font-size: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #cbdadd;
    }
    &:after{
      content: '';
      display: block;
      width:2px;
      height:10px;
      position: absolute;
      top:100%;
      left:calc(50% - 1px);
      background: $main-color;
    }
  }
  .ui-slider-range{
    background: $main-color;
    margin-left: 2px;
  }height:2px;

}
.price-range-numer{
  font-size:14px;
  font-weight:bold;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.tag_block{
  margin: 14px 0 8px;
  height:110px;
  overflow: hidden;
  position: relative;
  .swiper-scrollbar-drag{
    background: $main-color;

  }
}
.tag_brand{
  background: #ecf7f5;
  padding:10px 13px;
  display: inline-block;
  color: #000;
  font-size:13px;
  margin-bottom: 4px;
  &:hover{
    background: $main-color;
    color: #fff;
  }
}
.tag_block_wrap{
  height:auto;
}
.tag-scrollbar{
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  width:5px;
}
.filter_item{
  padding: 7px 14px;
  transition: all ease .3s;
  a{
    color: #4d666b;
    display: block;
    position: relative;
    &:after{
      content: '';
      display: none;
      width:8px;
      height:8px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      position: absolute;
      top:5px;
      right:5px;
      transform: rotate(-45deg);
      transition: all ease .3s;
    }
  }
  &:hover{
    background: #ecf7f5;
    a{
      color: #000;
      &:after{
        display: block;
      }
    }
  }
  &.open{
    background: #ecf7f5;
    a{
      color: #000;
      &:after{
        display: block;
        transform: rotate(135deg);
      }
    }
  }
  select{
    width:100%;
    height:29px;
    background: #fff;
    border:1px solid #bbcbce;
    padding-left:13px;
  }
}
.filter_parameters{
  margin-top:5px;
  display: none;
}
.checkbox_block{
  input[type=checkbox]{
    margin:0;
    margin-right:5px;
    vertical-align: middle;
  }
  label{
    font-size:14px;
    vertical-align: middle;
  }
}
.size-range{
  position: relative;
  margin: 20px 10px 12px;
  &.ui-widget-content{
    background: #eee;
    border: none;
  }
  .ui-slider-handle{
    width:24px;
    height:24px;
    border-radius: 50%;
    border: 2px solid $main-color;
    cursor: pointer;
    outline: none;
    top: -11px;
    margin-right:-2px;
    &:before{
      content: '\e802';
      font-family: "fontello";
      font-size: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #cbdadd;
    }
  }
  .ui-slider-range{
    background: $main-color;
    margin-left: 2px;
  }height:2px;
}
.size-range-numer{
  display: flex;
  justify-content: space-between;
  font-size:14px;
  font-weight:bold;
}
.how_choise{
  background: #f7f7f7;
  padding: 55px 0 25px;
  h2{
    margin-top:0;
    font-size:30px;
    font-weight:bold;
  }
  p{
    font-size:15px;
    line-height:1.7;
    margin-bottom:35px;
  }
  img{
    float: right;
    margin-left:135px;
  }
  h3{
    clear: both;
    font-size:22px;
    margin-bottom:30px;
  }
  blockquote{
    font-size:17px;
    margin:0 20px 30px;
    padding:20px 30px;
    background: #fff;
    position: relative;
    line-height: 1.6;
    &:after{
      content: '';
      position: absolute;
      width:33px;
      height:33px;
      background: url(../img/icon/quotes_icon.png) no-repeat center;
      bottom: 1px;
      right: -12px;
      transform: rotate(180deg);
    }
    &:before{
      content: '';
      position: absolute;
      width:33px;
      height:33px;
      background: url(../img/icon/quotes_icon.png) no-repeat center;
      bottom: 34px;
      right: -18px;
      top: 0px;
      left: -15px;
    }
  }
}
.content_wrap{
  overflow-x: hidden;
}
.phone_category_slider, .tablet_category_slider{
  max-width: 700px;
  width:100%;
  position: relative;

}
.phone_category_slider{
  z-index:20;
}
.tablet_category_slider{
  z-index:15;
}
.item_market_price, .item_market_buy{
  display: flex;
  align-items: center;
}

.search_block{
  position: relative;
  display: flex;
  justify-content: flex-end;
  &.open{
    margin-left: 48px;
    margin-right:35px;
    flex-grow: 1;
    border-bottom: 1px solid #d8e5ff;
    padding-bottom: 8px;
    flex-grow:1;
    top:5px;
    input{
      display: inline-block;
      outline: none;
    }
    .clear_search{
      display: inline-block;
    }
  }
  input{
    width:50%;
    flex-grow:1;
    background: none;
    border:none;
    -webkit-appearance: none;
    color: #fff;
    font-size:16px;
    display: none;
  }::-webkit-input-placeholder {
     color: #fff;
   }
  ::-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
  :-moz-placeholder {
    color: #fff;
  }
  .clear_search{
    color: #fff;
    display: none;
    position: absolute;
    top: 0;
    right: -30px;
    &:before{
      font-size: 21px;
    }
  }
}
.toggle_menu{
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  display: none;
  background: 0 0;
  height: 22px;
  width: 24px;
  padding: 0;
  outline: none;
  &:hover{
    span{
      background: #b4ff9d;
    }
    &:before, &:after{
      background: #b4ff9d;
    }
  }
  span{
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: all linear .3s;
    background: #fff;
    width:100%;
    height:2px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    left:0;
    transition: all linear .3s;
    background: #fff;
    width:100%;
    height:2px;
  }
  &.active{
    span{
      background: none;
    }
    &:before{
      transform: rotate(45deg);
      top: 10px;
      width: 130%;
    }
    &:after{
      transform: rotate(-45deg);
      bottom: 12px;
      width: 130%;
    }
  }
}
.filter_btn_block{
  display: none;
  position: fixed;
  bottom: 0;
  right:0;
  left:0;
  height:30px;
  z-index:150;
  background: $main-color;
  button{
    border: none;
    background:  $main-color;
    color: #fff;
    cursor: pointer;
    width: 110px;
    height: 100%;
    img{
      width:20px;
      width: 20px;
      vertical-align: middle;
      margin-right: 15px;
      margin-top: -1px;
    }
    &.active{
      color: #b4ff9d;
    }
    &.open_category{
      width:120px;
      img{
        margin-right:0;
        margin-left: 15px;
      }
    }
  }
}
.search_results{
  font-size:24px;
  margin: 40px 0 40px;
  font-family:$rob;
  .search_request{
    font-weight:bold;
    color: $main-color;
  }
  .count_product{
    font-size:14px;
    color: #000;
    background: #ecf7f5;
    padding:5px 8px;
  }
}
.tab_item{
  display: none;
  &.open{
    display: block;
  }
}
.nav_panel{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: #fff;
  z-index:150;
  box-shadow: 0 5px 13px 0 rgba(6,61,93, .15);
  height:90px;
  transform: translateY(-110%);
  transition: transform ease .45s;
  &.open{
    transform: translateY(0);
  }
  .product_img{
    width:80px;
    height:100%;
    height:90px;
    padding:8px;
    text-align: center;
    float: left;
    img{
      max-height:100%;
    }
  }
  .product_name{
    display: inline-block;
  }
  .navigation_page{
    margin:0;
    margin-top: 15px;
    border:none;
    box-shadow: none;
    a{
      font-size:13px;
      font-weight:normal;
      padding: 6px 10px;
    }
  }
  .nav_name_block{
    padding-top:15px;
  }
}
.search_hint{
  background: #fff;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 100;
  padding:25px 30px;
  flex-wrap: wrap;
  margin:0 -13px;
  width:100%;
  display: none;
  &.open{
    display: flex;
  }
}
.search_hint_block{
  margin: 0 13px 25px;
  width:47%;
  h3{
    font-size:18px;
    margin-bottom:10px;
    font-weight:bold;
  }
  a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e9f4f6;
    padding:5px 0;
    min-height:50px;
    font-size:14px;
  }
  .product_img{
    height:100%;
    width:60px;
    text-align: center;
    img{
      max-height: 50px;
    }
  }
  .product_name{
    flex-grow:1;
    width:30%;
  }
  .price_blue{
    flex-shrink: 0;
  }
  .show_all{
    a{
      background: #f5fafb;
      color: #4d666b;
      position: relative;
      min-height: 40px;
      padding-left: 60px;

      &:before{
        position: absolute;
        top: 15px;
        left: 22px;
        font-size: 11px;
      }
      &:hover{
        &:before{
          color: #4d666b;
        }
      }
    }
  }
}
.slider_camera{
  z-index:10;
}
.indentation_fix{
  margin-bottom: 60px;
}
.best_dropdown_block, .brand_dropdown_block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .show_all{
    display: block;
    width: 100%;
    padding-top:10px;
    font-size:14px;
    color: #000;
    border-top:1px solid #e9f4f6;
    span{
      color: #82a5ac;
    }
  }
}
.best_dropdown_item{
   width: 140px;
   text-align: center;
   font-size:13px;
   font-family:$rob;
   color: #000;
   padding-top:50px;
   margin-bottom:15px;
   &:hover{
     text-decoration: underline;
     color: #0168a4;
   }
   &.low_cost{
     background: url(../img/icon/low_price.png) no-repeat center 10%;
   }
   &.big_cost{
     background: url(../img/icon/big_price.png) no-repeat center 10%;
     background-size: 40px;
   }
   &.performance{
     background: url(../img/icon/rating_icon.png) no-repeat center 10%;
   }
   &.camera{
     background: url(../img/icon/camera_img.png) no-repeat center 10%;
   }
   &.battery{
     background: url(../img/icon/battery_img.png) no-repeat center 25%;
   }
   &.more{
     background: url(../img/icon/larg_icon.png) no-repeat center 10%;
   }
 }

.brand_dropdown_item{
  width: 140px;
  text-align: center;
  font-size:13px;
  font-family:$rob;
  color: #000;
  padding-top: 40px;
  margin-bottom:15px;
  &:hover{
    text-decoration: underline;
    color: #0168a4;
  }
  &.huawei{
    background: url(../img/brand/huawei.png) no-repeat center 10%;
    background-size: 110px;
  }
  &.lenovo{
    background: url(../img/brand/lenovo.png) no-repeat center 10%;
    background-size: 110px;
  }
  &.acer{
    background: url(../img/brand/acer.png) no-repeat center 10%;
    background-size: 110px;
  }
  &.microsoft{
    background: url(../img/brand/microsoft.png) no-repeat center 10%;
    background-size: 110px;
  }
  &.samsung{
    background: url(../img/brand/samsung.png) no-repeat center 10%;
    background-size: 110px;
  }
  &.sony{
    background: url(../img/brand/sony.png) no-repeat center 10%;
    background-size: 110px;
  }
}

.no-shadow-head{
  .main_header{
    box-shadow: none;
  }
}
.nice-select{
  float: none;
  height: 35px;
  line-height: 35px;
  .list{
    width: 100%;
  }
}
@import "_partials/media";
