<footer class="main_footer">
    <div class="container">
        <div class="footer_wrap">
            <nav>
                <a href="#" class="current">Главная</a>
                <a href="#">Бренды</a>
                <a href="#">Обратная связь</a>

                <p><span>PriceRadar24.Ru</span> - это ваш радар в динамичном мире китайских девайсов и гаджетов. Мы подберем для вас гаджет и укажем, где его можно купить по лучшей цене</p>
            </nav>
            <a href="#" class="main_logo">Price<span class="logo_color icon-logo">Radar</span><span class="logo_font">24</span></a>
        </div>
    </div>
</footer>