<header class="main_header">
    <div class="container">
        <div class="header_wrap">
            <a href="#" class="main_logo">Price<span class="logo_color icon-logo">Radar</span><span class="logo_font">24</span></a>

            <nav class="main_nav_menu">
                <ul class="main_nav">
                    <li>
                        <a href="#" class="nav_item icon-smart_phone">Телефоны</a>
                        <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown">
                                <li><a href="#">Лучшие предложения</a>
                                    <div class="nav_dropdown_block">
                                       <h4>Лучшие предложения</h4>
                                        <div class="best_dropdown_block">
                                            <a href="#" class="best_dropdown_item low_cost">Более дешевые</a>
                                            <a href="#" class="best_dropdown_item big_cost">Более дорогие</a>
                                            <a href="#" class="best_dropdown_item performance">Производительность</a>
                                            <a href="#" class="best_dropdown_item camera">Камера</a>
                                            <a href="#" class="best_dropdown_item battery">Аккумулятор</a>
                                            <a href="#" class="best_dropdown_item more">Больше</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Бренды</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Бренды</h4>
                                        <div class="brand_dropdown_block">
                                            <a href="#" class="brand_dropdown_item huawei">Huawei</a>
                                            <a href="#" class="brand_dropdown_item lenovo">Lenovo</a>
                                            <a href="#" class="brand_dropdown_item acer">Acer</a>
                                            <a href="#" class="brand_dropdown_item microsoft">Microsoft</a>
                                            <a href="#" class="brand_dropdown_item samsung">Samsung</a>
                                            <a href="#" class="brand_dropdown_item sony">Sony</a>
                                            <a href="#" class="show_all">Посмотреть еще бренды <span>(52)</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Цена/Качество</a>
                                    <div class="nav_dropdown_block">
                                        <a href="#" class="product_name">Huawei MediaPad</a>
                                        <a href="#" class="tag_name">Sony</a>
                                        <a href="#" class="img_wrap">
                                            <img src="img/product/tablet1.png" alt="">
                                        </a>
                                        <dl class="characteristics_list">
                                            <div class="characteristics_item">
                                                <dt>Размер</dt>
                                                <dd><span>75.9</span> мм x <span>152.9</span> мм x <span>9.0</span> мм</dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Вес</dt>
                                                <dd><span>162 г</span></dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Размер рамки</dt>
                                                <dd><span>0.30</span> мм</dd>
                                            </div>

                                        </dl>
                                        <div class="special_price">
                                            <span>Специальная цена:</span>
                                            <a href="#" class="price_blue">
                                                <span>30 000</span> ₽
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#" class="nav_item icon-tablet">Планшеты</a>
                        <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown">
                                <li><a href="#">Лучшие предложения</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Лучшие предложения</h4>
                                        <div class="best_dropdown_block">
                                            <a href="#" class="best_dropdown_item low_cost">Более дешевые</a>
                                            <a href="#" class="best_dropdown_item big_cost">Более дорогие</a>
                                            <a href="#" class="best_dropdown_item performance">Производительность</a>
                                            <a href="#" class="best_dropdown_item camera">Камера</a>
                                            <a href="#" class="best_dropdown_item battery">Аккумулятор</a>
                                            <a href="#" class="best_dropdown_item more">Больше</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Бренды</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Бренды</h4>
                                        <div class="brand_dropdown_block">
                                            <a href="#" class="brand_dropdown_item huawei">Huawei</a>
                                            <a href="#" class="brand_dropdown_item lenovo">Lenovo</a>
                                            <a href="#" class="brand_dropdown_item acer">Acer</a>
                                            <a href="#" class="brand_dropdown_item microsoft">Microsoft</a>
                                            <a href="#" class="brand_dropdown_item samsung">Samsung</a>
                                            <a href="#" class="brand_dropdown_item sony">Sony</a>
                                            <a href="#" class="show_all">Посмотреть еще бренды <span>(52)</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Цена/Качество</a>
                                    <div class="nav_dropdown_block">
                                        <a href="#" class="product_name">Huawei MediaPad</a>
                                        <a href="#" class="tag_name">Sony</a>
                                        <a href="#" class="img_wrap">
                                            <img src="img/product/tablet1.png" alt="">
                                        </a>
                                        <dl class="characteristics_list">
                                            <div class="characteristics_item">
                                                <dt>Размер</dt>
                                                <dd><span>75.9</span> мм x <span>152.9</span> мм x <span>9.0</span> мм</dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Вес</dt>
                                                <dd><span>162 г</span></dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Размер рамки</dt>
                                                <dd><span>0.30</span> мм</dd>
                                            </div>

                                        </dl>
                                        <div class="special_price">
                                            <span>Специальная цена:</span>
                                            <a href="#" class="price_blue">
                                                <span>30 000</span> ₽
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#" class="nav_item icon-act_camera">Экшн Камеры</a>
                        <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown">
                                <li><a href="#">Лучшие предложения</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Лучшие предложения</h4>
                                        <div class="best_dropdown_block">
                                            <a href="#" class="best_dropdown_item low_cost">Более дешевые</a>
                                            <a href="#" class="best_dropdown_item big_cost">Более дорогие</a>
                                            <a href="#" class="best_dropdown_item performance">Производительность</a>
                                            <a href="#" class="best_dropdown_item camera">Камера</a>
                                            <a href="#" class="best_dropdown_item battery">Аккумулятор</a>
                                            <a href="#" class="best_dropdown_item more">Больше</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Бренды</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Бренды</h4>
                                        <div class="brand_dropdown_block">
                                            <a href="#" class="brand_dropdown_item huawei">Huawei</a>
                                            <a href="#" class="brand_dropdown_item lenovo">Lenovo</a>
                                            <a href="#" class="brand_dropdown_item acer">Acer</a>
                                            <a href="#" class="brand_dropdown_item microsoft">Microsoft</a>
                                            <a href="#" class="brand_dropdown_item samsung">Samsung</a>
                                            <a href="#" class="brand_dropdown_item sony">Sony</a>
                                            <a href="#" class="show_all">Посмотреть еще бренды <span>(52)</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Цена/Качество</a>
                                    <div class="nav_dropdown_block">
                                        <a href="#" class="product_name">Huawei MediaPad</a>
                                        <a href="#" class="tag_name">Sony</a>
                                        <a href="#" class="img_wrap">
                                            <img src="img/product/tablet1.png" alt="">
                                        </a>
                                        <dl class="characteristics_list">
                                            <div class="characteristics_item">
                                                <dt>Размер</dt>
                                                <dd><span>75.9</span> мм x <span>152.9</span> мм x <span>9.0</span> мм</dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Вес</dt>
                                                <dd><span>162 г</span></dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Размер рамки</dt>
                                                <dd><span>0.30</span> мм</dd>
                                            </div>

                                        </dl>
                                        <div class="special_price">
                                            <span>Специальная цена:</span>
                                            <a href="#" class="price_blue">
                                                <span>30 000</span> ₽
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="left_dropdown"><a href="#" class="nav_item icon-mini_pc">Мини-ПК</a>
                        <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown">
                                <li><a href="#">Лучшие предложения</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Лучшие предложения</h4>
                                        <div class="best_dropdown_block">
                                            <a href="#" class="best_dropdown_item low_cost">Более дешевые</a>
                                            <a href="#" class="best_dropdown_item big_cost">Более дорогие</a>
                                            <a href="#" class="best_dropdown_item performance">Производительность</a>
                                            <a href="#" class="best_dropdown_item camera">Камера</a>
                                            <a href="#" class="best_dropdown_item battery">Аккумулятор</a>
                                            <a href="#" class="best_dropdown_item more">Больше</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Бренды</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Бренды</h4>
                                        <div class="brand_dropdown_block">
                                            <a href="#" class="brand_dropdown_item huawei">Huawei</a>
                                            <a href="#" class="brand_dropdown_item lenovo">Lenovo</a>
                                            <a href="#" class="brand_dropdown_item acer">Acer</a>
                                            <a href="#" class="brand_dropdown_item microsoft">Microsoft</a>
                                            <a href="#" class="brand_dropdown_item samsung">Samsung</a>
                                            <a href="#" class="brand_dropdown_item sony">Sony</a>
                                            <a href="#" class="show_all">Посмотреть еще бренды <span>(52)</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Цена/Качество</a>
                                    <div class="nav_dropdown_block">
                                        <a href="#" class="product_name">Huawei MediaPad</a>
                                        <a href="#" class="tag_name">Sony</a>
                                        <a href="#" class="img_wrap">
                                            <img src="img/product/tablet1.png" alt="">
                                        </a>
                                        <dl class="characteristics_list">
                                            <div class="characteristics_item">
                                                <dt>Размер</dt>
                                                <dd><span>75.9</span> мм x <span>152.9</span> мм x <span>9.0</span> мм</dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Вес</dt>
                                                <dd><span>162 г</span></dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Размер рамки</dt>
                                                <dd><span>0.30</span> мм</dd>
                                            </div>

                                        </dl>
                                        <div class="special_price">
                                            <span>Специальная цена:</span>
                                            <a href="#" class="price_blue">
                                                <span>30 000</span> ₽
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="left_dropdown"><a href="#" class="nav_item icon-smart_tv">Смарт ТВ</a>
                        <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown">
                                <li><a href="#">Лучшие предложения</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Лучшие предложения</h4>
                                        <div class="best_dropdown_block">
                                            <a href="#" class="best_dropdown_item low_cost">Более дешевые</a>
                                            <a href="#" class="best_dropdown_item big_cost">Более дорогие</a>
                                            <a href="#" class="best_dropdown_item performance">Производительность</a>
                                            <a href="#" class="best_dropdown_item camera">Камера</a>
                                            <a href="#" class="best_dropdown_item battery">Аккумулятор</a>
                                            <a href="#" class="best_dropdown_item more">Больше</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Бренды</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Бренды</h4>
                                        <div class="brand_dropdown_block">
                                            <a href="#" class="brand_dropdown_item huawei">Huawei</a>
                                            <a href="#" class="brand_dropdown_item lenovo">Lenovo</a>
                                            <a href="#" class="brand_dropdown_item acer">Acer</a>
                                            <a href="#" class="brand_dropdown_item microsoft">Microsoft</a>
                                            <a href="#" class="brand_dropdown_item samsung">Samsung</a>
                                            <a href="#" class="brand_dropdown_item sony">Sony</a>
                                            <a href="#" class="show_all">Посмотреть еще бренды <span>(52)</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Цена/Качество</a>
                                    <div class="nav_dropdown_block">
                                        <a href="#" class="product_name">Huawei MediaPad</a>
                                        <a href="#" class="tag_name">Sony</a>
                                        <a href="#" class="img_wrap">
                                            <img src="img/product/tablet1.png" alt="">
                                        </a>
                                        <dl class="characteristics_list">
                                            <div class="characteristics_item">
                                                <dt>Размер</dt>
                                                <dd><span>75.9</span> мм x <span>152.9</span> мм x <span>9.0</span> мм</dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Вес</dt>
                                                <dd><span>162 г</span></dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Размер рамки</dt>
                                                <dd><span>0.30</span> мм</dd>
                                            </div>

                                        </dl>
                                        <div class="special_price">
                                            <span>Специальная цена:</span>
                                            <a href="#" class="price_blue">
                                                <span>30 000</span> ₽
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="left_dropdown"><a href="#" class="nav_item icon-smart_watch">Смарт Часы</a>
                        <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown">
                                <li><a href="#">Лучшие предложения</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Лучшие предложения</h4>
                                        <div class="best_dropdown_block">
                                            <a href="#" class="best_dropdown_item low_cost">Более дешевые</a>
                                            <a href="#" class="best_dropdown_item big_cost">Более дорогие</a>
                                            <a href="#" class="best_dropdown_item performance">Производительность</a>
                                            <a href="#" class="best_dropdown_item camera">Камера</a>
                                            <a href="#" class="best_dropdown_item battery">Аккумулятор</a>
                                            <a href="#" class="best_dropdown_item more">Больше</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Бренды</a>
                                    <div class="nav_dropdown_block">
                                        <h4>Бренды</h4>
                                        <div class="brand_dropdown_block">
                                            <a href="#" class="brand_dropdown_item huawei">Huawei</a>
                                            <a href="#" class="brand_dropdown_item lenovo">Lenovo</a>
                                            <a href="#" class="brand_dropdown_item acer">Acer</a>
                                            <a href="#" class="brand_dropdown_item microsoft">Microsoft</a>
                                            <a href="#" class="brand_dropdown_item samsung">Samsung</a>
                                            <a href="#" class="brand_dropdown_item sony">Sony</a>
                                            <a href="#" class="show_all">Посмотреть еще бренды <span>(52)</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Цена/Качество</a>
                                    <div class="nav_dropdown_block">
                                        <a href="#" class="product_name">Huawei MediaPad</a>
                                        <a href="#" class="tag_name">Sony</a>
                                        <a href="#" class="img_wrap">
                                            <img src="img/product/tablet1.png" alt="">
                                        </a>
                                        <dl class="characteristics_list">
                                            <div class="characteristics_item">
                                                <dt>Размер</dt>
                                                <dd><span>75.9</span> мм x <span>152.9</span> мм x <span>9.0</span> мм</dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Вес</dt>
                                                <dd><span>162 г</span></dd>
                                            </div>
                                            <div class="characteristics_item">
                                                <dt>Размер рамки</dt>
                                                <dd><span>0.30</span> мм</dd>
                                            </div>

                                        </dl>
                                        <div class="special_price">
                                            <span>Специальная цена:</span>
                                            <a href="#" class="price_blue">
                                                <span>30 000</span> ₽
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="search_block">
                <input type="text" placeholder="Поиск по каталогу" class="search_input">
                <a href="#" class="open_search icon-search"></a>
                <a href="#" class="clear_search icon-remove"></a>
                <div class="search_hint">
                    <div class="search_hint_block">
                        <h3>Смартфоны</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li class="show_all">
                                <a href="#" class="icon-search">
                                    Показать все результаты
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="search_hint_block">
                        <h3>Планшеты</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li class="show_all">
                                <a href="#" class="icon-search">
                                    Показать все результаты
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="search_hint_block">
                        <h3>Смарт ТВ</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="product_img"><img src="img/product/samsung.png" alt=""></div>
                                    <span class="product_name">Huawei MediaPad</span>
                                    <span class="price_blue"> от <span>30 000</span> ₽</span>
                                </a>
                            </li>
                            <li class="show_all">
                                <a href="#" class="icon-search">
                                    Показать все результаты
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <button class="toggle_menu">
                <span></span>
            </button>
        </div>
    </div>
</header>