<div class="product_item swiper-slide">
    <a href="#" class="product_name">Huawei MediaPad</a>
    <a href="#" class="tag_name">Sony</a>
    <a href="#" class="img_wrap">
        <img src="img/product/tablet1.png" alt="">
    </a>
    <div class="rating_block">
        <div class="rating_item">
            <div class="rating_icon icon-camera"></div>
            <div class="rating_number">
                <div class="rating_bar very_good" style="width: 75%;">  <span>9.66</span></div>

            </div>
            <div class="tooltip">
                Камера: <span>9.66</span> из 10
            </div>
        </div>
        <div class="rating_item">
            <div class="rating_icon icon-battery"></div>
            <div class="rating_number">
                <div class="rating_bar good" style="width: 90%;">
                    <span>9.66</span>
                </div>

            </div>
            <div class="tooltip">
                Аккумулятор: <span>9.66</span> из 10
            </div>
        </div>
        <div class="rating_item">
            <div class="rating_icon icon-processor"></div>
            <div class="rating_number">
                <div class="rating_bar normal">
                    <span>9.66</span>
                </div>

            </div>
            <div class="tooltip">
                Процессор: <span>9.66</span> из 10
            </div>
        </div>
        <div class="rating_item">
            <div class="rating_icon icon-network"></div>
            <div class="rating_number">
                <div class="rating_bar bad" style="width: 60%;">
                    <span>9.66</span>
                </div>

            </div>
            <div class="tooltip">
                Сеть: <span>9.66</span> из 10
            </div>
        </div>
        <div class="rating_item">
            <div class="rating_icon icon-display"></div>
            <div class="rating_number">
                <div class="rating_bar very_bad">
                    <span>9.66</span>
                </div>

            </div>
            <div class="tooltip">
                Дисплей: <span>9.66</span> из 10
            </div>
        </div>
        <div class="rating_item">
            <div class="rating_icon icon-diamond"></div>
            <div class="rating_number">
                <div class="rating_bar" style="width: 90%;">
                    <span>9.66</span>

                </div>
            </div>
            <div class="tooltip">
                Понты: <span>9.66</span> из 10
            </div>
        </div>
        <div class="rating_item">
            <div class="rating_icon icon-rating"></div>
            <div class="rating_number">
                <div class="rating_bar">
                    <span>9.66</span>

                </div>
            </div>
            <div class="tooltip">
                Рейтинг: <span>9.66</span> из 10
            </div>
        </div>
    </div>
    <ul class="price_block">
        <li>
            <a href="#" class="market_link">
                <img src="img/brand/aliexpress.png" alt="">
            </a>
            <a href="#" class="price_blue">
                <span>30 000</span> ₽
            </a>
        </li>
        <li>
            <a href="#" class="market_link">
                <img src="img/brand/amazon.png" alt="">
            </a>
            <a href="#" class="price_blue">
                <span>30 000</span> ₽
            </a>
        </li>
        <li>
            <a href="#" class="market_link">
                <img src="img/brand/wikimart.png" alt="">
            </a>
            <a href="#" class="price_blue">
                <span>30 000</span> ₽
            </a>
        </li>
        <li>
            <a href="#" class="all_price">Все цены (<span>8</span>)</a>
        </li>
    </ul>
</div>